html {
    background-color: #AEA49A;
}
div {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
}
div:nth-child(odd) div:nth-child(odd)
{
    background-color: white;
}
div:nth-child(even) div:nth-child(odd)
{
    background-color: rgb(71, 71, 71);
}
div:nth-child(even) div:nth-child(even)
{
    background-color: white;
    
}
div:nth-child(odd) div:nth-child(even)
{
    background-color: rgb(71, 71, 71);
}

#keret{
    background-image:url(/letöltés.png);
}