body
{
    background:linear-gradient(45deg,#45FC,#1BAA,#3ADC);
    background-repeat: no-repeat;
    background-attachment: fixed;
        
}
.Row div {
    width: 50px;
    height: 50px;
    overflow: hidden;
    font-size: 43px;
    text-align: center;
    
}

.Main 
{
    margin: auto;
    align-items: center;
    display: block;
    width: fit-content;
    border: 20px solid transparent;
    border-image: url("./letöltés.png") 30% round;
    
    
}
.Row 
{
    align-items: center;
    display: inline-block;
}
.Main :nth-child(odd) div:nth-child(odd) 
{
    background-color: rgb(71, 71, 71);
}

.Main :nth-child(even) div:nth-child(odd) 
{
    background-color: white;
}
.Main :nth-child(odd) div:nth-child(even) 
{
    background-color: white;
}
.Main :nth-child(even) div:nth-child(even) 
{
    background-color: rgb(71, 71, 71);
}

span
{
    position: inherit;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin: auto;
}
.number 
{
    margin:auto;
    overflow: hidden;
    padding:7px;
    height: 389px;
    width: 10px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
}
.number p{
    margin-top: 30px;
}
.A:hover, div[class*="N"]:hover
{
    color: red;
}